a {
    text-decoration: none
}

.tg {
    color: #888 !important
}

.br {
    border-radius: 8px
}

.l {
    color: rgba(0, 0, 0, 0.5) !important;
}

.l2 {
    color: rgba(0, 0, 0, 0.6) !important;
}

.sd {
    border-radius: 12px !important;
    -webkit-box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.03), 0 12px 17px 2px rgba(0, 0, 0, 0.021), 0 5px 22px 4px rgba(0, 0, 0, 0.018) !important;
    box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.03), 0 12px 17px 2px rgba(0, 0, 0, 0.021), 0 5px 22px 4px rgba(0, 0, 0, 0.018) !important;
}
.pm img {
    max-width:100%
}