<!DOCTYPE html>
<html>

<head>
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
  <!-- <link href="https://cdn.jsdelivr.net/npm/vuetify@2.5.10/dist/vuetify.min.css" rel="stylesheet">  -->
  <!-- <link href="https://cdn.staticfile.org/material-design-icons/3.0.2/iconfont/material-icons.min.css" rel="stylesheet"> -->
  <link href="https://cdn.staticfile.org/vuetify/2.5.8/vuetify.min.css" rel="stylesheet">
  <title>40code少儿编程社区</title>
  <style>
    a {
      text-decoration: none
    }
  </style>
  <script src="https://cdn.staticfile.org/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdn.staticfile.org/markdown.js/0.5.0/markdown.min.js"></script>
  <script charset="UTF-8" id="LA_COLLECT" src="//sdk.51.la/js-sdk-pro.min.js"></script>
  <script src="https://cdn.dingxiang-inc.com/ctu-group/captcha-ui/index.js"></script>
  <script>
    (() => {
      let time = (new Date());
      let d = [
        [12, 13],
        [4, 4]
      ]
      for (i of d) {
        if (time.getMonth() == i[0] - 1 && time.getDate() == i[1]) {
          document.write(`
            <style>
              html {
                filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
                -webkit-filter: grayscale(100%);
              }
            </style>
            `)
        }
      }
    })()
  </script>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>
  <div id="app">
    <v-app>
      <center>当前网站正在加载中，请稍等</center>
      <template>
        <v-app id="inspire">

          <v-app-bar app color="primary" dark>
            <a href="#" style="color:white">40code</a>
            <!-- <v-toolbar-title><v-btn  text></v-btn></v-toolbar-title> -->
            <v-spacer></v-spacer>
            <span v-if="detail">

              <v-btn icon href="#page=message">
                <span v-if="detail && detail.msgnum">
                  <v-badge color="red" :content="detail.msgnum" overlap>
                    <v-icon>mdi-bell</v-icon>
                  </v-badge>
                </span>
                <v-icon v-else>mdi-bell</v-icon>
              </v-btn>

              <v-menu>
                <template v-slot:activator="{ on, attrs }">
                  <v-btn color="" dark v-bind="attrs" v-on="on">
                    {{ detail.nickname }}
                  </v-btn>
                </template>

                <v-list>
                  <v-list-item v-for="(item, index) in items" :key="index" @click="() => {}" v-on:click="item.c()">
                    <v-list-item-title>{{ item.title }}</v-list-item-title>
                  </v-list-item>
                </v-list>
              </v-menu>
            </span>
            <v-toolbar-title v-else-if="detail===undefined"><a href="#page=sign">
                <v-btn>登录/注册</v-btn>
              </a></v-toolbar-title>
          </v-app-bar>

          <v-main class="grey lighten-4">

            <v-container v-if="viewmode=='index' || viewmode=='allwork'" id="index">
              <v-row>
                <div v-if="viewmode=='allwork'" class="mb-4 mt-4">
                  <v-from>
                    <v-text-field label="作品名" filled class="float-left ml-4" id="sname"></v-text-field>
                    <v-text-field label="作者id" filled class="float-left ml-4" id="sauthor"></v-text-field>
                    <v-btn v-on:click="work.search()" class="float-left ml-4">搜索</v-btn>
                  </v-from>
                </div>
                <template v-for="n in rows">
                  <v-col class="mt-2" cols="12">
                    <strong>{{ n.title }}</strong>
                    <a class="float-right" href="#page=allwork">
                      <v-btn text>更多</v-btn>
                    </a>
                  </v-col>
                  <v-col v-for="j in n.worklist" cols="6" sm="4" md="3" lg="2">
                    <s-workcard :work="j" :user="n.userlist[j.author.toString()][0]" :host="host"></s-workcard>
                  </v-col>

                </template>
                <v-col class="mt-2" cols="12" v-if="viewmode=='index' && user.list">
                  <strong>用户榜</strong>
                  <a class="float-right" href="#">
                    <v-btn text>更多</v-btn>
                  </a>
                </v-col>
                <v-col v-if="viewmode=='index' && user.list" v-for="j in user.list" :key="`${n}${j}`" cols="12" sm="6" md="4" lg="3">
                  <s-usercard :user="j" :host="host"></s-usercard>
                </v-col>
              </v-row>
            </v-container>

            <v-container v-if="viewmode=='sign'" id="sign">
              <v-row>
                <template>
                  <v-card class="mx-auto pa-8 my-12" width="400">
                    <span color="accent">登录/注册</span>
                    <v-text-field label="邮箱" :rules="sign.email" hide-details="auto" class="my-2" id="email">
                    </v-text-field>
                    <!-- <v-text-field label="密码" :rules="sign.pw" hide-details="auto" class="my-2 pb-2" id="pw">
                    </v-text-field> -->
                    <v-text-field v-model="password" :append-icon="show0 ? 'mdi-eye' : 'mdi-eye-off'" :rules="[pw]"
                      :type="show0 ? 'text' : 'password'" name="input-1" label="密码" hide-details="auto" counter
                      @click:append="show0 = !show0" id="pw"></v-text-field>
                    <div id="c1"></div>
                    <div cols="12" class="float-center mx-auto mt-2">
                      <v-btn color="accent" class="pa-2" v-on:click="sign.l(0)">登录</v-btn>
                      <v-btn color="accent" class="pa-2" v-on:click="sign.l(1)">注册</v-btn>
                    </div>
                    <!-- 当前站点为测试站点，数据定期清空，损失概不负责 -->
                  </v-card>
                </template>
              </v-row>
            </v-container>

            <v-container v-if="viewmode=='account'">
              <v-row>
                <template>
                  <v-card class="mx-auto pa-8 my-12" width="400">
                    <span color="accent">信息更改</span>
                    <v-text-field label="昵称" hide-details="auto" class="my-2" id="i-input-0" :value="detail.nickname">
                    </v-text-field>
                    <v-btn color="accent" class="pa-2 mx-auto" v-on:click="account.l(0)" block>更改昵称</v-btn>
                    <v-textarea name="input-1" label="个人介绍" :value="detail.introduce" hint="支持使用markdown编写"
                      id="i-input-1" maxlength="500" counter>
                    </v-textarea>
                    <v-btn color="accent" class="pa-2 mx-auto" v-on:click="account.l(1)" block>更改介绍</v-btn>

                    <v-text-field v-model="password2" :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'" :rules="[pw]"
                      :type="show1 ? 'text' : 'password'" name="input-2" label="旧密码" hide-details="auto" counter
                      @click:append="show1 = !show1" id="a_opw"></v-text-field>
                    <v-text-field v-model="password3" :append-icon="show2 ? 'mdi-eye' : 'mdi-eye-off'" :rules="[pw]"
                      :type="show2 ? 'text' : 'password'" name="input-3" label="新密码" hide-details="auto" counter
                      @click:append="show2 = !show2" id="a_npw"></v-text-field>
                    <v-btn color="accent" class="pa-2 mx-auto" v-on:click="account.n()" block>更改密码</v-btn>
                    <v-file-input :rules="rules" accept="image/png, image/jpeg, image/bmp, image/gif"
                      label="头像(建议尺寸1:1)" id="workimg" show-size truncate-length="10">
                    </v-file-input>
                    <!-- <v-img :src="host.data+'/static/internalapi/asset/'+ (workview.image || detail.head || '6e2b0b1056aaa08419fb69a3d7aa5727.png')" :aspect-ratio="1"
                      class="ma-5 pb-2"></v-img> -->
                    <div v-if="waitRequest.cover==1">正在上传中</div>
                    <div v-if="waitRequest.cover==-1">点击更改头像保存你的头像</div>
                    <v-btn color="accent" class="pa-2 mx-auto" v-on:click="account.head()" block>更改头像</v-btn>
                  </v-card>
                </template>
              </v-row>
            </v-container>

            <v-container v-if="viewmode=='mywork'">
              <v-row>
                <template>
                  <v-col class="" cols="12">
                    我的作品：<v-btn color="accent" class="pa-2" v-on:click="work.new()">新建作品</v-btn>
                  </v-col>

                  <v-col v-for="j in mywork" :key="`${n}${j}`" cols="6" sm="4" md="3" lg="2">
                    <s-workcard :work="j" :host="host" :my="work"></s-workcard>
                  </v-col>

                  </v-card>
                </template>
              </v-row>
            </v-container>

            <v-container v-if="viewmode=='work'">
              <v-row>
                <template>
                  <v-card class="mx-3 pa-5 my-12" width="400" v-if="!workview.id">
                    作品信息正在加载中
                  </v-card>
                  <v-card class="mx-auto pa-5 my-12" max-width="2000"
                    v-else-if="(workview.isauthor || workview.publish)">
                    <v-alert dense type="info" v-if="!workview.publish">
                      当前作品还没有发布，仅自己可见，请前往
                      <a :href="'#page=workinfo&id='+workview.id">作品信息编辑页</a>
                      勾选发布，再点更新，即可发布
                    </v-alert>
                    <v-alert dense outlined type="error" v-if="workview.ban">
                      当前作品已被封禁，请联系QQ:3274235903 进行申诉
                    </v-alert>
                    <span color="accent" class="text-h5" cols="24">{{ workview.name }}</span>
                    <div cols="24">
                      <a :href="`#page=user&id=`+workview.author">
                        <v-avatar size="25">
                          <img
                            :src="host.data+'/static/internalapi/asset/'+(workview.head || '6e2b0b1056aaa08419fb69a3d7aa5727.png')">
                        </v-avatar>
                        <span color="accent" class="text-subtitle-1" v-on:click="qh('user', workview.author);">{{
                          workview.nickname }}</span>
                      </a>
                      <span color="accent" class="text-subtitle-1 text-right text--disabled">创建时间：{{ date(workview.time)
                        }}</span>
                    </div>
                    <br>
                    <div class="float-left pl-3">
                      <iframe
                        :src="(workview.id) ? ( (workview.isauthor || (workview.publish)) ? ('/other/worksc.html') : '/noqx.html') : '/d.html'"
                        scrolling="no" frameborder="0" style="width:510px;height: 440px;" class="float-left pr-3">
                      </iframe>
                      <br>
                      <v-btn v-on:click="work.like()" :color="workview.islike ? 'red' : ''" plain text>
                        <v-icon>mdi-heart</v-icon>{{ workview.like }}
                      </v-btn>
                    </div>
                    <div class="float-left pl-3">
                      <span color="accent" class="text-h5 text--primary" cols="24">作品介绍</span><br><br>
                      <span class="text--secondary" v-html="workview.introduce2"></span>
                      <br><br>
                      <v-divider class=""></v-divider>
                      <br><br>
                      <v-btn color="accent" class="ma-2" :href="'/other/scratch.html#id='+workview.id" target="_blank"
                        v-bind:disabled="!(workview.isauthor || workview.opensource) || !workview.issign">转到创作页</v-btn>
                      <v-btn color="accent" class="ma-2" :href="'#page=workinfo&id='+workview.id"
                        v-if="workview.isauthor">编辑作品信息</v-btn>
                    </div>

                  </v-card>
                  <comment></comment>
                  <v-card class="mx-3 pa-5 my-12" width="400" v-else>
                    无权限查看当前作品
                  </v-card>
                  <v-card class="mx-auto pa-5 my-5" width="600"
                    v-if="workview && (workview.isauthor || workview.publish)">
                    <span color="accent" class="text-h5 text--primary" cols="24">评论</span><br><br>
                    <s-c2 :comment="comment" :host="host" :detail="detail"></s-c2>
                    <s-comment :comment="comment" :host="host" :detail="detail" type="1" :author="workview.author">
                    </s-comment>
                  </v-card>



                </template>
              </v-row>
            </v-container>

            <v-container v-if="viewmode=='workinfo'">
              <v-row>
                <template>
                  <v-card class="mx-auto pa-8 my-12" width="400" v-if="!workview.id">
                    作品信息正在加载中
                  </v-card>
                  <v-card class="mx-auto pa-8 my-12" width="400" v-else-if="(workview.isauthor)">
                    <v-text-field label="作品名" hide-details="auto" class="my-2" name="editinfo" t="name"
                      :value="workview.name"></v-text-field>
                    <v-textarea label="作品介绍" hide-details="auto" class="my-2" name="editinfo" t="introduce"
                      :value="workview.introduce"></v-textarea>
                    <v-checkbox v-model="publish" value :label="`发布 `" name="editinfo" t="publish"></v-checkbox>
                    <v-checkbox v-model="opensource" value :label="`开源 `" name="editinfo" t="opensource"></v-checkbox>
                    <v-file-input :rules="rules" accept="image/png, image/jpeg, image/bmp, image/gif"
                      label="作品封面图(建议尺寸4:3)" id="workimg" show-size truncate-length="10">
                    </v-file-input>
                    <v-img :src="host.data+'/static/internalapi/asset/'+workview.image" :aspect-ratio="4/3"
                      class="ma-5 pb-2"></v-img>
                    <div v-if="waitRequest.cover==1">正在上传中</div>
                    <div v-if="waitRequest.cover==-1">点击更新保存你的头像</div>
                    <div class="mx-auto">
                      <v-btn color="accent" class="pa-2" v-on:click="work.update()">更新</v-btn>
                      <v-btn color="accent" class="pa-2" v-on:click="work.return()">返回</v-btn>
                    </div>
                  </v-card>
                  <v-card class="mx-auto pa-8 my-12" width="400" v-else>
                    无权限查看当前作品
                  </v-card>
                </template>
              </v-row>
            </v-container>

            <v-container v-if="viewmode=='user'">
              <v-row>
                <template>
                  <v-card class="mx-auto pa-5 my-12" width="600" v-if="!workview.id">
                    用户信息正在加载中
                  </v-card>
                  <div v-else-if="(!workview.ban || workview.id==detail.id)" class="mx-auto ">
                    <v-card class="pa-5 my-5" width="600">
                      <v-avatar>
                        <img
                          :src="host.data+'/static/internalapi/asset/'+(workview.head || '6e2b0b1056aaa08419fb69a3d7aa5727.png')">
                      </v-avatar>
                      <span color="accent" class="text-h5">{{ workview.nickname }}</span>
                      <v-btn class="float-right" v-on:click="user.signin()" v-if="workview.id==detail.id"> 签到</v-btn>
                      <v-btn class="float-right" v-on:click="user.follow()" v-else> {{ workview.followu ? '取消' : ''}}关注
                      </v-btn>
                      <br>
                      <a>
                        <v-btn text color="accent" class="text-subtitle-1" v-on:click="user.flisttype=0;"
                          :href=" `#page=flist&id=`+workview.id">{{ workview.fan }} 粉丝 </v-btn>
                      </a>
                      <a :href="`#page=flist&id=`+workview.id">
                        <v-btn text color="accent" class="text-subtitle-1" v-on:click="user.flisttype=1;">{{
                          workview.follow }} 关注</v-btn>
                      </a><br>
                      <v-tooltip bottom>
                        <template v-slot:activator="{ on, attrs }">
                          <span color="accent" class="text-subtitle-1 " v-bind="attrs" v-on="on">
                            <span class="text--disabled">金币：</span>
                            <span style="color:#FF9800;">{{ workview.coins
                              }}</span>
                          </span>
                        </template>
                        <span>获取方式：签到，邀请用户，等等</span>
                      </v-tooltip>

                      <span color="accent" class="text-subtitle-1 float-right text--disabled">加入时间：{{
                        date(workview.signtime) }}</span><br>
                    </v-card>

                    <v-card class=" pa-5 my-5" width="600">
                      <span color="accent" class="text-h5 text--primary" cols="24">用户介绍</span><br><br>
                      <span class="text--secondary" v-html="workview.introduce2"></span>
                    </v-card>
                    <div>他的作品：</div><a class="float-right" :href="'#page=allwork&user='+workview.id">
                      <v-btn text>更多</v-btn>
                    </a><br>
                    <div v-if="worklist">
                      <v-col v-for="j in worklist" :key="`${n}${j}`" cols="4">
                        <s-workcard :work="j" :host="host"></s-workcard>
                      </v-col>
                    </div>
                    <span v-else>当前用户还没有作品哦</span>

                    <v-card class=" pa-5 my-5" width="600">
                      <span color="accent" class="text-h5 text--primary" cols="24">评论</span><br><br>
                      <s-c2 :comment="comment" :host="host" :detail="detail"></s-c2>
                      <s-comment :comment="comment" :host="host" :detail="detail" type="0"></s-comment>
                    </v-card>

                  </div>

                  <v-card class="mx-auto pa-5 my-12" width="600" v-else>
                    无权限查看当前用户
                  </v-card>
                </template>
              </v-row>
            </v-container>

            <v-container v-if="viewmode=='message'">
              <v-row>
                <template>
                  <v-card class="mx-auto pa-8 my-12" width="400" v-if="user.message">
                    <span v-for="i in user.message">
                      <span v-html="i.message"></span>
                      <span color="accent" class="text-h7 text--disabled ml-2 float-right">{{ i.time }}</span>
                      <br><br>
                    </span>
                  </v-card>
                </template>
              </v-row>
            </v-container>

            <v-container v-if="viewmode=='flist'">
              <v-row>
                <template>
                  <v-col v-for="j in user.flist" cols="12" sm="6" md="4" lg="3">
                    <s-usercard :user="j" :host="host"></s-usercard>
                  </v-col>
                </template>
              </v-row>
            </v-container>

            <v-container v-if="viewmode=='404'">
              <v-row>
                <template>
                  <v-card class="mx-auto pa-8 my-12" width="400">
                    当前页面不存在 404 not found
                  </v-card>
                </template>
              </v-row>
            </v-container>



          </v-main>

          <v-footer padless>
            <v-col cols="12" class="px-5">

              <span>
                <div class="float-left">
                  友情链接：<br>
                  <a href="//bu40.com" target="_blank">bu40工具集</a><br>
                  <a href="//sc.bu40.com" target="_blank">scratch最新版下载</a><br>
                  <a href="http://www.fmcyp.club" target="_blank" style="color:rgba(0, 0, 0, .5)">S云盘</a><br>
                </div>
                <div class="float-left ml-5">
                  <span>更多：</span><br>
                  <a href="https://jq.qq.com/?_wv=1027&k=7X0G5yel" target="_blank">Q群:1071652975</a><br>
                  <a>站长QQ:3274235903</a>
                </div>

              </span>
              <span class="float-right">{{ new Date().getFullYear() }} — <strong>40CODE</strong></span>
            </v-col>
          </v-footer>

        </v-app>
        <v-snackbar v-model="sb.show" :timeout="sb.timeout" top>
          <span v-html="sb.text"></span>

          <template v-slot:action="{ attrs }">
            <v-btn color="blue" text v-bind="attrs" @click="sb.show = false">
              Close
            </v-btn>
          </template>
        </v-snackbar>
      </template>


    </v-app>
  </div>
  </div>

  <script src="https://cdn.staticfile.org/vue/2.6.9/vue.js"></script>
  <script src="https://cdn.staticfile.org/vuetify/2.5.8/vuetify.min.js"></script>
  <script src="/js/app.js?v=8"></script>
  <script src="/js/index.js?v=12"></script>
  <script charset="UTF-8" id="LA_COLLECT" src="//sdk.51.la/js-sdk-pro.min.js"></script>
  <script>LA.init({ id: "JW9Ijj81HxjUscHB", ck: "JW9Ijj81HxjUscHB", hashMode: true })</script>
</body>

</html>
<!-- https://wkvrzm-ijphjp-5555.preview.myide.io/ -->
<!-- https://uytmyv-ijphjp-5500.preview.myide.io/ -->