<!DOCTYPE html>
<html>

<head>
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.5.10/dist/vuetify.min.css" rel="stylesheet">
  <style>
    a {
      text-decoration: none
    }
  </style>
  <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/52black/markdown-js/lib/markdown.js"></script>
  <script charset="UTF-8" id="LA_COLLECT" src="//sdk.51.la/js-sdk-pro.min.js"></script>
  <script src="https://cdn.dingxiang-inc.com/ctu-group/captcha-ui/index.js"></script>
  <script>
    !function (p) { "use strict"; !function (t) { var s = window, e = document, i = p, c = "".concat("https:" === e.location.protocol ? "https://" : "http://", "sdk.51.la/js-sdk-pro.min.js"), n = e.createElement("script"), r = e.getElementsByTagName("script")[0]; n.type = "text/javascript", n.setAttribute("charset", "UTF-8"), n.async = !0, n.src = c, n.id = "LA_COLLECT", i.d = n; var o = function () { s.LA.ids.push(i) }; s.LA ? s.LA.ids && o() : (s.LA = p, s.LA.ids = [], o()), r.parentNode.insertBefore(n, r) }() }({ id: "JW9Ijj81HxjUscHB", ck: "JW9Ijj81HxjUscHB" });
    (() => {
      let time = (new Date());
      let d = [
        [12, 13],
        [4, 4]
      ]
      for (i of d) {
        if (time.getMonth() == i[0] - 1 && time.getDate() == i[1]) {
          document.write(`
            <style>
              html {
                filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
                -webkit-filter: grayscale(100%);
              }
            </style>
            `)
        }
      }
    })()
  </script>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>
  <div id="app">
    <v-app>
      <template>
        <v-app id="inspire">

          <v-app-bar app color="primary" dark>
            <a href="#" style="color:white">40code</a>
            <!-- <v-toolbar-title><v-btn  text></v-btn></v-toolbar-title> -->
            <v-spacer></v-spacer>
            <span v-if="detail">

              <v-btn icon href="#page=message">
                <span v-if="detail && detail.msgnum">
                  <v-badge color="red" :content="detail.msgnum" overlap>
                    <v-icon>mdi-bell</v-icon>
                  </v-badge>
                </span>
                <v-icon v-else>mdi-bell</v-icon>
              </v-btn>

              <v-menu>
                <template v-slot:activator="{ on, attrs }">
                  <v-btn color="" dark v-bind="attrs" v-on="on">
                    {{ detail.nickname }}
                  </v-btn>
                </template>

                <v-list>
                  <v-list-item v-for="(item, index) in items" :key="index" @click="() => {}" v-on:click="item.c()">
                    <v-list-item-title>{{ item.title }}</v-list-item-title>
                  </v-list-item>
                </v-list>
              </v-menu>
            </span>
            <v-toolbar-title v-else-if="detail===undefined" href="#page=sign">登录/注册</v-toolbar-title>
          </v-app-bar>

          <v-main class="grey lighten-2">

            <v-container v-if="viewmode=='index' || viewmode=='allwork'" id="index">
              <v-row>
                <div v-if="viewmode=='allwork'" class="mb-4 mt-4">
                  <v-from>
                    <v-text-field label="作品名" filled class="float-left ml-4" id="sname"></v-text-field>
                    <v-text-field label="作者id" filled class="float-left ml-4" id="sauthor"></v-text-field>
                    <v-btn v-on:click="work.search()" class="float-left ml-4">搜索</v-btn>
                  </v-from>
                </div>
                <template v-for="n in rows">
                  <v-col :key="n" class="mt-2" cols="12">
                    <strong>{{ n.title }}</strong>
                    <a class="float-right" href="#page=allwork">
                      <v-btn text>更多</v-btn>
                    </a>
                  </v-col>
                  <v-col v-for="j in n.worklist" :key="`${n}${j}`" cols="6" sm="4" md="3" lg="2">
                    <v-card :href="'#page=work&id='+j.id">
                      <v-img :src="host.data+'/static/internalapi/asset/'+j.image" :aspect-ratio="4/3"
                        class="white--text align-end" gradient="to bottom, rgba(0,0,0,0) 70%, rgba(0,0,0,.4)">
                          <span class="ma-2">
                            <span>
                              <v-icon color="white">mdi-eye</v-icon> {{ j.look }}
                            </span>
                            <span>
                              <v-icon color="white">mdi-heart</v-icon> {{ j.like }}
                            </span>
                          </span>
                      </v-img>
                      <div class="text-truncate px-5 mt-3 mb-1 text-heading-6">{{ j.name }}</div>
                      <span class="px-5">
                        <v-avatar size="25">
                          <img
                            :src="host.data+'/static/internalapi/asset/'+(n.userlist[j.author.toString()][0].head || '6e2b0b1056aaa08419fb69a3d7aa5727.png')">
                        </v-avatar>
                        <span color="accent" class="text-subtitle-1 text--secondary text-truncate text-caption"
                          :href="`#page=user&id=`+j.author">{{
                          n.userlist[j.author.toString()][0].nickname }}</span>
                      </span><br><br>
                    </v-card>
                  </v-col>

                </template>
              </v-row>
            </v-container>

            <v-container v-if="viewmode=='sign'" id="sign">
              <v-row>
                <template>
                  <v-card class="mx-auto pa-8 my-12" width="400">
                    <span color="accent">登录/注册</span>
                    <v-text-field label="邮箱" :rules="sign.email" hide-details="auto" class="my-2" id="email">
                    </v-text-field>
                    <!-- <v-text-field label="密码" :rules="sign.pw" hide-details="auto" class="my-2 pb-2" id="pw">
                    </v-text-field> -->
                    <v-text-field v-model="password" :append-icon="show0 ? 'mdi-eye' : 'mdi-eye-off'" :rules="[pw]"
                      :type="show0 ? 'text' : 'password'" name="input-1" label="密码" hide-details="auto" counter
                      @click:append="show0 = !show0" id="pw"></v-text-field>
                    <div id="c1"></div>
                    <div cols="12" class="float-center mx-auto mt-2">
                      <v-btn color="accent" class="pa-2" v-on:click="sign.l(0)">登录</v-btn>
                      <v-btn color="accent" class="pa-2" v-on:click="sign.l(1)">注册</v-btn>
                    </div>
                    <!-- 当前站点为测试站点，数据定期清空，损失概不负责 -->
                  </v-card>
                </template>
              </v-row>
            </v-container>

            <v-container v-if="viewmode=='account'">
              <v-row>
                <template>
                  <v-card class="mx-auto pa-8 my-12" width="400">
                    <span color="accent">信息更改</span>
                    <v-text-field label="昵称" hide-details="auto" class="my-2" id="i-input-0" :value="detail.nickname">
                    </v-text-field>
                    <v-btn color="accent" class="pa-2 mx-auto" v-on:click="account.l(0)" block>更改昵称</v-btn>
                    <v-textarea name="input-1" label="个人介绍" :value="detail.introduce" hint="支持使用markdown编写"
                      id="i-input-1" maxlength="500" counter>
                    </v-textarea>
                    <v-btn color="accent" class="pa-2 mx-auto" v-on:click="account.l(1)" block>更改介绍</v-btn>

                    <v-text-field v-model="password2" :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'" :rules="[pw]"
                      :type="show1 ? 'text' : 'password'" name="input-2" label="旧密码" hide-details="auto" counter
                      @click:append="show1 = !show1" id="a_opw"></v-text-field>
                    <v-text-field v-model="password3" :append-icon="show2 ? 'mdi-eye' : 'mdi-eye-off'" :rules="[pw]"
                      :type="show2 ? 'text' : 'password'" name="input-3" label="新密码" hide-details="auto" counter
                      @click:append="show2 = !show2" id="a_npw"></v-text-field>
                    <v-btn color="accent" class="pa-2 mx-auto" v-on:click="account.n()" block>更改密码</v-btn>
                    <v-file-input :rules="rules" accept="image/png, image/jpeg, image/bmp, image/gif"
                      label="头像(建议尺寸1:1)" id="workimg" show-size truncate-length="10">
                    </v-file-input>
                    <!-- <v-img :src="host.data+'/static/internalapi/asset/'+ (workview.image || detail.head || '6e2b0b1056aaa08419fb69a3d7aa5727.png')" :aspect-ratio="1"
                      class="ma-5 pb-2"></v-img> -->
                    <div v-if="waitRequest.cover==1">正在上传中</div>
                    <div v-if="waitRequest.cover==-1">点击更改头像保存你的头像</div>
                    <v-btn color="accent" class="pa-2 mx-auto" v-on:click="account.head()" block>更改头像</v-btn>
                  </v-card>
                </template>
              </v-row>
            </v-container>

            <v-container v-if="viewmode=='mywork'">
              <v-row>
                <template>
                  <v-col class="" cols="12">
                    我的作品：<v-btn color="accent" class="pa-2" v-on:click="work.new()">新建作品</v-btn>
                  </v-col>

                  <v-col v-for="j in mywork" :key="`${n}${j}`" cols="6" sm="4" md="3" lg="2">
                    <v-card :href="'#page=work&id='+j.id">
                      <span v-on:click="qh('work',j.id)">
                        <v-img :src="host.data+'/static/internalapi/asset/'+j.image" :aspect-ratio="4/3"></v-img>
                        <v-card-title>{{ j.name }}</v-card-title>
                      </span>
                      <v-btn color="accent" class="" :href="'/other/scratch.html#id='+j.id" target="_blank" depressed
                        block tile>继续创作
                      </v-btn>
                    </v-card>
                  </v-col>

                  </v-card>
                </template>
              </v-row>
            </v-container>

            <v-container v-if="viewmode=='work'">
              <v-row>
                <template>
                  <v-card class="mx-3 pa-5 my-12" width="400" v-if="!workview.id">
                    作品信息正在加载中
                  </v-card>
                  <v-card class="mx-auto pa-5 my-12" max-width="2000"
                    v-else-if="(workview.isauthor || workview.publish)">

                    <span color="accent" class="text-h5" cols="24">{{ workview.name }}</span>
                    <div cols="24">
                      <v-avatar size="25">
                        <img
                          :src="host.data+'/static/internalapi/asset/'+(workview.head || '6e2b0b1056aaa08419fb69a3d7aa5727.png')">
                      </v-avatar>
                      <span color="accent" class="text-subtitle-1" v-on:click="qh('user', workview.author);">{{
                        workview.nickname }}</span>
                      <span color="accent" class="text-subtitle-1 text-right text--disabled">创建时间：{{ date(workview.time)
                        }}</span>
                    </div>
                    <br>
                    <iframe
                      :src="(workview.id) ? ( (workview.isauthor || (workview.publish)) ? ('/other/worksc.html') : '/noqx.html') : '/d.html'"
                      scrolling="no" frameborder="0" style="width:510px;height: 440px;" class="float-left pr-3">
                    </iframe>
                    <div class="float-left pl-3">
                      <span color="accent" class="text-h5 text--primary" cols="24">作品介绍</span><br><br>
                      <span class="text--secondary" v-html="workview.introduce2"></span>
                      <br><br>
                      <v-divider class=""></v-divider>
                      <br><br>
                      <v-btn color="accent" class="ma-2" :href="'/other/scratch.html#id='+workview.id" target="_blank"
                        v-bind:disabled="!(workview.isauthor || workview.opensource) || !workview.issign">转到创作页</v-btn>
                      <v-btn color="accent" class="ma-2" :href="'#page=workinfo&id='+workview.id"
                        v-if="workview.isauthor">编辑作品信息</v-btn>
                    </div>

                  </v-card>

                  <v-card class="mx-3 pa-5 my-12" width="400" v-else>
                    无权限查看当前作品
                  </v-card>

                  <v-card class="mx-auto pa-5 my-5" width="600" v-if="(workview.isauthor || workview.publish)">
                    <span color="accent" class="text-h5 text--primary" cols="24">评论</span><br><br>
                    <v-textarea name="input-7-1" filled label="评论" auto-grow value="" maxlength="500" counter
                      id="comment">
                    </v-textarea>
                    <v-btn color="accent" class="pa-2 mx-auto" v-on:click="comment.send()" block>发送</v-btn>

                    <div v-if="comment.comment" class="my-5">
                      <div v-for="i in comment.comment.comment" class="my-5">
                        <v-divider></v-divider>
                        <div v-for="j in comment.comment.user[i.fromuser.toString()]" class="mt-2">
                          <div>
                            <a :href="'#page=user&id='+i.fromuser">
                              <v-avatar size=40 class="">
                                <img
                                  :src="host.data+'/static/internalapi/asset/'+(j.head || '6e2b0b1056aaa08419fb69a3d7aa5727.png')">
                              </v-avatar>
                            </a>
                            <a :href="'#page=user&id='+i.fromuser">
                              <v-btn text color="accent" class="text-h6 ml-2" style="height: 100%">{{ j.nickname }}
                              </v-btn>
                            </a>
                            <span color="accent" class="text-h7 text--disabled ml-2 float-right">{{ i.time }}</span>
                          </div>

                          <br>
                          <span color="accent" class="text-h6 ml-12 " v-html="i.comment">{{ i.comment }}</span>
                          <v-btn class="text--secondary" text v-if="detail.id==i.touser || detail.id==i.fromuser"
                            v-on:click="comment.delete(i.id)">
                            删除
                          </v-btn>
                        </div>
                      </div>
                    </div>
                    <div v-else>
                      此用户暂时没有评论哦
                    </div>

                  </v-card>


                </template>
              </v-row>
            </v-container>

            <v-container v-if="viewmode=='workinfo'">
              <v-row>
                <template>
                  <v-card class="mx-auto pa-8 my-12" width="400" v-if="!workview.id">
                    作品信息正在加载中
                  </v-card>
                  <v-card class="mx-auto pa-8 my-12" width="400" v-else-if="(workview.isauthor)">
                    <v-text-field label="作品名" hide-details="auto" class="my-2" name="editinfo" t="name"
                      :value="workview.name"></v-text-field>
                    <v-textarea label="作品介绍" hide-details="auto" class="my-2" name="editinfo" t="introduce"
                      :value="workview.introduce"></v-textarea>
                    <v-checkbox v-model="publish" value :label="`发布 `" name="editinfo" t="publish"></v-checkbox>
                    <v-checkbox v-model="opensource" value :label="`开源 `" name="editinfo" t="opensource"></v-checkbox>
                    <v-file-input :rules="rules" accept="image/png, image/jpeg, image/bmp, image/gif"
                      label="作品封面图(建议尺寸4:3)" id="workimg" show-size truncate-length="10">
                    </v-file-input>
                    <v-img :src="host.data+'/static/internalapi/asset/'+workview.image" :aspect-ratio="4/3"
                      class="ma-5 pb-2"></v-img>
                    <div v-if="waitRequest.cover==1">正在上传中</div>
                    <div v-if="waitRequest.cover==-1">点击更新保存你的头像</div>
                    <div class="mx-auto">
                      <v-btn color="accent" class="pa-2" v-on:click="work.update()">更新</v-btn>
                      <v-btn color="accent" class="pa-2" v-on:click="work.return()">返回</v-btn>
                    </div>
                  </v-card>
                  <v-card class="mx-auto pa-8 my-12" width="400" v-else>
                    无权限查看当前作品
                  </v-card>
                </template>
              </v-row>
            </v-container>

            <v-container v-if="viewmode=='user'">
              <v-row>
                <template>
                  <v-card class="mx-auto pa-5 my-12" width="600" v-if="!workview.id">
                    用户信息正在加载中
                  </v-card>
                  <div v-else-if="(!workview.ban || workview.id==detail.id)" class="mx-auto ">
                    <v-card class="pa-5 my-5" width="600">
                      <v-avatar>
                        <img
                          :src="host.data+'/static/internalapi/asset/'+(workview.head || '6e2b0b1056aaa08419fb69a3d7aa5727.png')">
                      </v-avatar>
                      <span color="accent" class="text-h5">{{ workview.nickname }}</span>
                      <v-btn class="float-right" v-on:click="user.follow()"> {{ workview.followu ? '取消' : ''}}关注</v-btn>
                      <br>
                      <a>
                        <v-btn text color="accent" class="text-subtitle-1" v-on:click="user.flisttype=0;"
                          :href=" `#page=flist&id=`+workview.id">{{ workview.fan }} 粉丝 </v-btn>
                      </a>
                      <a :href="`#page=flist&id=`+workview.id">
                        <v-btn text color="accent" class="text-subtitle-1" v-on:click="user.flisttype=1;">{{
                          workview.follow }} 关注</v-btn>
                      </a>
                      <span color="accent" class="text-subtitle-1 float-right">加入时间：{{ date(workview.signtime)
                        }}</span><br>
                    </v-card>

                    <v-card class=" pa-5 my-5" width="600">
                      <span color="accent" class="text-h5 text--primary" cols="24">用户介绍</span><br><br>
                      <span class="text--secondary" v-html="workview.introduce2"></span>
                    </v-card>
                    <div>他的作品：</div><a class="float-right" :herf="'page=allwork&user='+workview.id">
                      <v-btn text>更多</v-btn>
                    </a><br>
                    <div v-if="worklist">
                      <v-col v-for="j in worklist" :key="`${n}${j}`" cols="4">
                        <v-card v-on:click="qh('work',j.id)" :href="'#page=work&id='+j.id">
                          <v-img :src="host.data+'/static/internalapi/asset/'+j.image" :aspect-ratio="4/3"></v-img>
                          <div class="text-truncate px-5 mt-3 pb-4 text-heading-6">{{ j.name }}</div>
                        </v-card>
                      </v-col>
                    </div>
                    <span v-else>当前用户还没有作品哦</span>

                    <v-card class=" pa-5 my-5" width="600">
                      <span color="accent" class="text-h5 text--primary" cols="24">评论</span><br><br>
                      <v-textarea name="input-7-1" filled label="评论" auto-grow value="" maxlength="500" counter
                        id="comment">
                      </v-textarea>
                      <v-btn color="accent" class="pa-2 mx-auto" v-on:click="comment.send()" block>发送</v-btn>

                      <div v-if="comment.comment" class="my-5">
                        <div v-for="i in comment.comment.comment" class="my-5">
                          <v-divider></v-divider>
                          <div v-for="j in comment.comment.user[i.fromuser.toString()]" class="mt-2">
                            <div>
                              <a :href="'#page=user&id='+i.fromuser">
                                <v-avatar size=40 class="">
                                  <img
                                    :src="host.data+'/static/internalapi/asset/'+(j.head || '6e2b0b1056aaa08419fb69a3d7aa5727.png')">
                                </v-avatar>
                              </a>
                              <a :href="'#page=user&id='+i.fromuser">
                                <v-btn text color="accent" class="text-h6 ml-2" style="height: 100%">{{ j.nickname }}
                                </v-btn>
                              </a>

                              <span color="accent" class="text-h7 text--disabled ml-2 float-right">{{ i.time }}</span>
                            </div>

                            <br>
                            <span color="accent" class="text-h6 ml-12 " v-html="i.comment">{{ i.comment }}</span>
                            <v-btn class="text--secondary" text v-if="detail.id==i.touser || detail.id==i.fromuser"
                              v-on:click="comment.delete(i.id)">
                              删除
                            </v-btn>
                          </div>
                        </div>
                      </div>
                      <div v-else>
                        此用户暂时没有评论哦
                      </div>

                    </v-card>

                  </div>

                  <v-card class="mx-auto pa-5 my-12" width="600" v-else>
                    无权限查看当前用户
                  </v-card>
                </template>
              </v-row>
            </v-container>

            <v-container v-if="viewmode=='message'">
              <v-row>
                <template>
                  <v-card class="mx-auto pa-8 my-12" width="400" v-if="user.message">
                    <span v-for="i in user.message">
                      <p v-html="i.message"></p>
                    </span>
                  </v-card>
                </template>
              </v-row>
            </v-container>

            <v-container v-if="viewmode=='flist'">
              <v-row>
                <template>
                  <v-col v-for="j in user.flist" cols="6" sm="4" md="3" lg="2">
                    <v-card :href="'#page=user&id='+j.id">
                      <span class="px-5">
                        <v-avatar size="40">
                          <img
                            :src="host.data+'/static/internalapi/asset/'+(j.head || '6e2b0b1056aaa08419fb69a3d7aa5727.png')">
                        </v-avatar>
                        <span color="accent" class="text-h5 text--secondary text-truncate"
                          v-on:click="qh('user', j.id);">{{
                          j.nickname }}</span>
                      </span><br><br>
                    </v-card>
                  </v-col>
                </template>
              </v-row>
            </v-container>

            <v-container v-if="viewmode=='404'">
              <v-row>
                <template>
                  <v-card class="mx-auto pa-8 my-12" width="400">
                    当前页面不存在 404 not found
                  </v-card>
                </template>
              </v-row>
            </v-container>



          </v-main>

          <v-footer padless>
            <v-col cols="12" class="px-5">
              <span class="float-left">{{ new Date().getFullYear() }} — <strong>40CODE</strong></span>
              <span class="float-right">友情链接：
                <a href="//bu40.com" target="_blank">bu40工具集</a>
              </span>
            </v-col>
          </v-footer>

        </v-app>
      </template>
    </v-app>
  </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="/js/app.js?v=6"></script>
  <script>
    var pagecz = {
      'index': function () {
        get({
          url: 'work/index'
        }, function (d) {
          v.$data.rows = d.data
          // v.$data.rows.data = {
          //   "title": "最新作品",
          //   "worklist": d.data
          // }
        })
        // location.href = "#"
      },
      allwork: (a) => {
        v.work.all(a);
      },
      'sign': () => {
        setTimeout(() => {
          myCaptcha = _dx.Captcha(document.getElementById('c1'), {
            appId: '39248c3724c1b6b8f2b77645fde5b19e', //appId，在控制台中“应用管理”或“应用配置”模块获取
            apiServer: 'https://vip56.dingxiang-inc.com', // 请填写这个配置，按照下面“接入域名”所示!注意：末尾不要有斜杆！
            success: function (token) {
              v.sign.token = token;
            }
          })
        }, 200)
      },
      'mywork': function () {
        get({
          url: 'work/my'
        }, function (d) {
          v.$data.mywork = d.data
        })
        location.href = "#page=mywork"
      },
      'work': function (id) {
        v.$data.workview = {};
        get({
          url: 'work/info',
          data: { id: id }
        }, function (d) {
          d.data && (v.$data.workview = d.data)
          // location.href = "#page=work&id=" + id
          v.workview.introduce2 = markdown.toHTML(v.workview.introduce);
          v.comment.getcomment()
        })
      },
      'workinfo': function (id) {
        v.$data.workview = { image: "6e2b0b1056aaa08419fb69a3d7aa5727.png" };
        delete waitRequest.cover;
        get({
          url: 'work/info',
          data: { id: id }
        }, function (d) {
          if (!d.data) return;
          (v.$data.workview = d.data)
          v.$data.opensource = d.data.opensource;
          v.$data.publish = d.data.publish;
          // location.href = "#page=workinfo&id=" + id;

        })
      },
      'user': function (id) {
        if (id == 0) {
          setTimeout(() => {
            v.$data.qh('user', v.detail.id)
          }, 2000)
          return;
        }
        v.$data.workview = { image: "6e2b0b1056aaa08419fb69a3d7aa5727.png" };
        get({
          url: 'user/info',
          data: { id: id }
        }, function (d) {
          console.log(d)
          if (!d.data) return;
          (v.$data.workview = d.data[0])
          // location.href = "#page=user&id=" + id;
          v.workview.introduce2 = v.workview.introduce ? markdown.toHTML(v.workview.introduce) : '当前用户暂时没有介绍哦';
          v.comment.getcomment()
          v.user.getwork(4)
        })
      },
      'account': function (id) {

      },
      'message': (id) => {
        v.user.getmessage()
      },
      'flist': (id) => {
        v.user.getlist(id)
      },
    };

    let functiona = {
      rules: [
        value => {
          let f = new FormData();
          console.log(value)
          if (value.size > 500000) return '图片必须小于500KB';
          if (['image/jpeg', 'image/png', 'image/gif', 'image/bmp'].indexOf(value.type) == -1) return '不支持此格式的图片'
          function upa(data) {
            v.waitRequest.cover = 1;
            $.ajax({
              url: apihost + 'work/uploads',
              method: 'POST',
              data: data,
              cache: false,
              contentType: false,
              processData: false,
              dataType: 'json',
              // 图片上传成功
              success: function (result1) {
                let k = result1.data[2][0][1].Key.split('/');
                v.detail.image = v.workview.image = k[k.length - 1];
                value = undefined;
                // delete waitRequest.cover;
                v.waitRequest.cover = -1;
                // console.log(k,v.workview.imgpre)
              },
              error: function () {
                alert("图片上传失败")
                v.waitRequest.cover = -1;
                delete v.waitRequest.cover;
              }
            });
          }
          f.append("image", new Blob([value], { type: value.type }))
          upa(f)
          // return false;
        }
        // value => !value || value.size < 2000000 || '图片必须小于2MB',
      ],
      host: {
        data: 'https://newsccode-1302921490.cos.ap-shanghai.myqcloud.com',
        scratch: 'https://newsccode-1302921490.cos-website.ap-shanghai.myqcloud.com'
      },
      work: {
        checkbox: [],
        new: function () {
          get({
            url: 'work/new',
            p: 'newwork'
          }, function (d) {
            location.href = "/other/scratch.html#id=" + d.info.insertId;
          })
        },
        update: function () {
          let d = $("[name='editinfo']"), data = {};
          data.name = $("[t='name']").val();
          data.introduce = $("[t='introduce']").val();
          data.opensource = $("[t='opensource']")[0].checked;
          data.publish = $("[t='publish']")[0].checked;
          data.image = v.workview.image;
          data.id = v.$data.workview.id;
          console.log(data)
          post({
            url: 'work/info/update',
            data: data,
            p: 'updatework'
          }, function (d) {
            console.log(d)
            location.href = "#page=work&id=" + v.$data.workview.id;
            // v.$data.qh('work', v.$data.workview.id)
          })
        },
        return: function () {
          location.href = "#page=work&id=" + v.$data.workview.id;
          // v.$data.qh('work', v.$data.workview.id)
        },
        all: function (a) {
          if (a) {
            location.href = "#page=allwork" + a
          }
          setTimeout(() => {
            get({
              url: 'work/all',
              data: {
                tags: getQueryString('tags'),
                user: getQueryString('user'),
                name: getQueryString('name'),
              }
            }, function (d) {
              v.$data.rows = [{
                title: '作品',
                worklist: d.data.worklist,
                userlist: d.data.userlist,
              }]
            }), 100
          })
        },
        search: function () {
          location.href = "#page=allwork&name=" + $('#sname').val() + '&user=' + $('#sauthor').val()
          // v.work.all()
        }
      },
      items: [
        {
          title: '账号设置',
          c: function () {
            // v.$data.qh('account');
            location.href = "#page=account"
          }
        },
        {
          title: '我的主页',
          c: function () {
            // v.$data.qh('user', v.detail.id);
            location.href = "#page=user&id=" + v.detail.id
          },
        },
        {
          title: '我的作品',
          c: function () {
            // v.$data.qh('mywork');
            location.href = "#page=mywork"
          }
        },
        {
          title: '退出登录',
          c: function () {
            document.cookie = "token=; expires=Thu, 01 Jan 1970 00:00:00 GMT";
            console.log('清除cookie')
            location.href = ""
          }
        },
      ],
      pw: value => {
        const pattern = /^[0-9]*$/
        if (!(!pattern.test(value) || value.length > 9)) return '纯数字密码必须大于8位'
        if (value.length < 6) return '密码必须大于6位'
      },
      sign: {
        email: [
          value => {
            const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
            return pattern.test(value) || '请输入正确的邮箱'
          },
        ],
        l: function (n) {
          let d = ['login', 'signup']
          if (!v.sign.token) {
            alert("请先完成验证码")
            return;
          }
          get({
            url: 'user/' + d[n],
            data: {
              email: $('#email').val(),
              pw: $('#pw').val(),
              t2: v.sign.token
            },
            p: 'sign'
          },
            function (data) {
              pagecz.sign()
              if (data.code == 1) {
                if (n == 0) {
                  v.$data.qh('index');
                  alert(data.msg)
                  setCookie('token', data.token, 3)
                  getuserinfo()
                } else {
                  alert(data.msg)
                }
              } else {
                alert(data.msg)
              }
            })
        },
        data: {
          email: '',
          pw: ''
        }
      },
      account: {
        n: function () {
          get({
            url: 'user/change/password',
            data: {
              npw: $('#a_npw').val(),
              opw: $('#a_opw').val()
            },
            p: 'account'
          },
            function (data) {
              alert(data.msg)
              getuserinfo()
              location.href = ""
            })
        },
        l: function (n) {
          post({
            url: 'user/change/info',
            data: {
              data: $('#i-input-' + n).val(),
              t: n
            },
            p: 'changeinfo'
          }, function (d) {
            alert(d.msg)
            location.href = ""
          })
        },
        head: function () {
          if (!v.detail.image) {
            alert("请选择图片并等待上传完毕后再继续操作")
            return;
          }
          post({
            url: 'user/change/info',
            data: {
              data: v.detail.image,
              t: 2
            },
            p: 'changeinfo'
          }, function (d) {
            alert(d.msg)
            location.href = ""
          })
        },
      },
      comment: {
        send: function () {
          if ($('#comment').val()) {
            post({
              url: "comment/",
              data: {
                comment: $('#comment').val(),
                touser: v.workview.id,
                type: { 'user': 0, 'work': 1 }[v.viewmode],
              },
              p: "comment",

            }, (d) => {
              console.log(d);
              alert("发送成功");
              v.comment.getcomment();
            })
          }
        },
        getcomment: () => {
          get({
            url: "comment/",
            data: {
              id: v.workview.id,
              type: { 'user': 0, 'work': 1 }[v.viewmode],
            }
          }, (d) => {
            let d2 = d.data;
            for (let i in d2.comment) {
              d2.comment[i].comment = markdown.toHTML(d2.comment[i].comment)

              d2.comment[i].time = other.date(d2.comment[i].time);
            }
            v.comment.comment = d2
            console.log('获取评论', d)
          })
        },
        delete: function (id) {
          post({
            url: "comment/delete",
            data: {
              id: id,
              type: { 'user': 0, 'work': 1 }[v.viewmode]
            },
            p: "commentdelete"
          }, (d) => {
            console.log(d);
            alert("删除成功");
            v.comment.getcomment();
          })
        },
        comment: {}
      },
      user: {
        getwork: (l) => {
          get({
            url: "work/user",
            data: {
              id: v.workview.id,
              l: l,
            }
          }, (d) => {
            v.worklist = d.data
            console.log('获取评论', d)
          })
        },
        getmessage: () => {
          get({
            url: "user/message",
            data: {
            }
          }, (d) => {
            v.user.message = d.data
            console.log('获取消息', d)
          })
        },
        follow: () => {
          post({
            url: "user/follow" + (v.workview.followu ? '/cancel' : ''),
            data: {
              id: v.workview.id
            }
          }, (d) => {
            alert(d.msg)
          })
        },
        getlist: (id) => {
          get({
            url: "user/flist",
            data: {
              id: id,
              type: v.user.flisttype
            }
          }, (d) => {
            v.user.flist = d.data
          })
        },
        flist: [],
        message: {},
        flisttype: !!getQueryString('type') - 0,
      },
    }
    let functiono = {
      workview: { image: "6e2b0b1056aaa08419fb69a3d7aa5727.png" },
      detail: (getCookie('token') === undefined) ? undefined : 0,
      token: getCookie('token'),
      viewmode: 'index',
      qh: function (a, id) {
        // v.$data.viewmode = a
        // pagecz[a] && pagecz[a](id);
      },
      qh3: function (a, id) {
        v.$data.viewmode = a
        pagecz[a] && pagecz[a](id);
      },
      qh2: () => {
        let d = ['index', 'sign', 'account', 'mywork', 'work', 'workinfo', 'user', 'message', 'allwork', 'flist'], q = getQueryString('page');
        if (!q) {
          q = 'index'
        } else if (d.indexOf(q) != -1) {
        } else {
          q = '404'
        }
        v.$data.qh3(q, getQueryString('id'))
      },
      publish: 0,
      opensource: 0,
      rows: { "data": [] },
      show: { '0': 0, '1': 0, '2': 0 },
      show0: 0,
      show1: 0,
      show2: 0,
      mywork: {},
      waitRequest: { cover: 0 },
      worklist: 0,
    }

    var other = {
      date: (d) => {
        let date = "", st = new Date(d * 1000), et = new Date();
        if (st.getYear() == et.getYear()) {
          if ((st.getMonth() == et.getMonth() && st.getDate() == et.getDate())) {
            date = st.getHours() + ':' + st.getMinutes() + ' ';
          } else {
            date = st.getMonth() + '-' + st.getDate() + ' ';
          }
        } else {
          date = st.getYear() + '-' + st.getMonth() + '-' + st.getDate() + ' '
        }
        return date;
      }
    }

    var v = new Vue({
      el: '#app',
      data: Object.assign(functiona, functiono, other),
      vuetify: new Vuetify({
        theme: {
          themes: {
            light: {
              primary: '#3f51b5',
              secondary: '#b0bec5',
              accent: '#8c9eff',
              error: '#b71c1c',
            },
          },
        }
      }),
    })

    v.qh2();
    window.addEventListener('hashchange', function (event) {
      console.log(event);
      v.qh2();
    })

    $(document).ready(function () {
      getuserinfo()
      setInterval(() => { getuserinfo() }, 10000)
    });
  </script>
</body>

</html>
<!-- https://wkvrzm-ijphjp-5555.preview.myide.io/ -->