<v-container v-if="viewmode=='mywork'">
    <v-row>
        <template>
            <v-col class="" cols="12">
                我的作品：<v-btn color="white" class="pa-2 text--secondary" elevation="0"
                    v-on:click="work.new()">新建作品
                </v-btn>
            </v-col>

            <v-col v-for="j in mywork" cols="6" sm="4" md="3" lg="2">
                <s-workcard :work="j" :host="host" :my="work"></s-workcard>
            </v-col>

            </v-card>
        </template>
    </v-row>
</v-container>